@font-face {
    font-family: 'Montserrat';
    src: url("../assets/Montserrat-Regular.ttf");
}
body{
    background: white;
    font-family: 'Montserrat', sans-serif;
}
#jane .modal-header{
    display: flex;
    padding-left: 21px;
    padding-right: 21px;
    flex-direction: column;
    padding-top: 8px;
    width: 238px;
    height: 315px;
    background: white;
    position: relative;
}
.test-div{
    width: 280px;
    height: 315px;
    background: white;
}
#jane .circle{
    width: 178px;
    height: 178px;
    border-radius: 100px;
    background: #FBE42C;
    position: absolute;
    top: -89px;
    right: -89px;
}
#jane .logo-icon{
    height: 36px;
    width: 36px;
    margin-right: 8px;
}
#jane .row-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#jane h1{
    font-size: 15px;
}
#jane .modal-input{
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    height: 22px;
    margin-top: 8px;
}
#jane label{
    margin-top: 36px;
    font-size: 8px;
}
#jane .active-btn{
    font-family: 'Montserrat';
    margin-top: 36px;
    background: #FBE42C;
    border-radius: 50px;
    border: none;
    color: #535353;
    box-shadow: 0 2px 6px 0 #FBE42C;
    height: 30px;
    width: 127px;
}


#janeMVP{
    font-family: 'Montserrat', sans-serif;
    color: #1d1d1d;
    position: fixed;
    top: 70px;
    padding-top: 20px;
    right: 0;
    height: 500px;
    width: 130px;
    font-size: 12px;
    background: #ffffff;
    border: solid 1px #efefef;
}
#janeMVP input{
    width: 100px;
    border-radius: 50px;
    border: 1px solid lightgray;
    margin-top: 10px;
    text-align: center;
}
#janeMVP .checkboxJane{
    width: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#janeMVP .text{
    width: 100px;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 60px;
}
#janeMVP button{
    font-size: 12px;
    width: 100px;
    background: #FBE42C;
    border-radius: 50px;
    border: none;
    margin-top: 40px;
    color: #535353;
    box-shadow: 0 2px 6px 0 #FBE42C;
    transition: 0.5s;
    margin-bottom: 10px;
    cursor: pointer;
}
#janeMVP button:hover{
    background: #fbd738;
    transition: 0.5s;
}
#janeMVP a{
    color: #c2c2c2;
    font-size: 12px;
    cursor: pointer;
}
#janeMVP ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #c2c2c2;
    font-size: 10px;
}
#janeMVP ::-moz-placeholder { /* Firefox 19+ */
    color: #c2c2c2;
    font-size: 10px;
}
#janeMVP :-ms-input-placeholder { /* IE 10+ */
    color: #c2c2c2;
    font-size: 10px;
}
#janeMVP :-moz-placeholder { /* Firefox 18- */
    color: #c2c2c2;
    font-size: 10px;
}
#janeMVP button:focus, textarea:focus, input:focus{
    outline: none;
}